header{
    min-height: 10vh;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .header_logo a{
        font-family: $anton;
        font-size: 1.3rem;
        text-shadow: 1px 1px 20px #a4a4a4;
    }
    .header_nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 0.8rem;
        padding: 15px;
        position: relative;        

        .header_nav_principal{
            display: none;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            background: rgba(34, 34, 34, 0.85);
            width: 100%;
            height: 100vh;
            text-align: center;
            margin: 0 auto;
            padding: 15px 5px;

            nav{
               
                ul.menu{
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    
                
                    li.menu-item {
                            padding: 25px 15px;
                            border-top: 1px solid #fff;
                            border-bottom: 1px solid #fff;
                            margin: 15px 0;
                            height: 20vh;

                            &:nth-child(1) {
                                background-image: url('images/competences_small.png');
                                background-size: cover;
                                background-position: center;

                            }
                            &:nth-child(2) {
                                background-image: url('images/formation_small.png');
                                background-size: cover;

                            }
                            &:nth-child(3) {
                                background-image: url('images/experiences_small.png');
                                background-size: cover;
                                background-position: center;

                            }
                            &:nth-child(4) {
                                background-image: url('images/portfolio_small.png');
                                background-size: cover;

                            }
                            
                            a {
                                font-family: $allerta;
                                font-weight: bold;
                                font-size: 1.2rem;
                                color: #fff;

                                padding: 20px 0;
                            }
                    }                
                    } 
                }

            }
        }
    .menu_burger {
        font-size: 1.3rem;
    }
        
    }


@media (min-width: 800px) {

    header {
        
        .header_logo a {
            font-size: 2rem;
        }

        .header_nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 0.8rem;


            .header_nav_principal {
                width: 50%;
                padding: 0 15px;

                .menu {
                    display: flex;
                    justify-content: space-between;
                    width: 100%;
                    margin: 0;

                    .menu-item {
                        transition: 0.4s ease;
                        border-top: 3px solid transparent;
                        border-bottom: 3px solid transparent;
                        margin: 0 20px;
                        padding: 20px 0;
                        width: 25%;
                        text-align: center;

                        &:hover {
                            border-top: 3px solid #ffffff;
                            border-bottom: 3px solid #ffffff;
                            padding: 15px 0;
                        }

                        a {
                            font-family: $allerta;
                            font-weight: bold;
                        }
                    }
                }

            }
        }

        .menu_burger {
            display: none;
        }

    }


}